<div class="container-fluid mt-4">
    <div class="row">
      <!-- Columna de filtros a la izquierda -->
      <div class="col-md-3">
        <div class="filters-container">
          <h3 class="filters-title">Filtros</h3>
  
          <div class="form-group">
            <label for="categoriaSelect" class="form-label">Filtrar por categoría:</label>
            <select id="categoriaSelect" class="form-control" [(ngModel)]="categoriaSeleccionada">
              <option value="">Todas</option>
              <option value="Ficción">Ficción</option>
              <option value="Ciencia">Ciencia</option>
              <option value="Romance">Romance</option>
              <option value="Distopía">Distopía</option>
            </select>
          </div>
  
          <div class="form-group">
            <label for="rangoSelect" class="form-label">Filtrar por rango de precio:</label>
            <select id="rangoSelect" class="form-control" [(ngModel)]="rangoSeleccionado">
              <option value="">Todos</option>
              <option value="0-1900">0 -1900</option>
              <option value="1900-1950">1900 - 1950</option>
              <option value="1950-1980">1950 - 1980</option>
              <option value="1980-2011">1980 - 2011</option>
            </select>
          </div>
        </div>
      </div>
  
      <!-- Columna de libros a la derecha -->
      <div class="col-md-9">
        <div class="books-container d-flex flex-wrap justify-content-start">
          <div class="book-card" *ngFor="let libro of librosFiltrados">
            <div class="thumbnail">
              <img [src]="libro.imagen" alt="Portada del libro" class="book-img">
              <div class="caption">
                <h4>{{ libro.titulo }}</h4>
                <p><strong>Autor:</strong> {{ libro.autor }}</p>
                <p><strong>Género:</strong> {{ libro.genero}}</p>
                <p><strong>año:</strong> {{ libro.anio }}</p>
                <p><strong>Descripción:</strong> {{ libro.descripcion}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
